/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Common Code */

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* Header */

header {
    width: 800px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
 
nav a {
    text-decoration: none;
    color: #000;
}

/* top image */

.top-img {
    margin: 30px 0;
}

/* main section */

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

/* Card section */

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.card {
    width: 45%;
    height: 420px;
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card button {
    border-radius: 8px;
    width: 30%;
    height: 30px;
    border: 2px solid #000;
    background-color: #fff;
}

/* bottom section */

.bottom-content {
    margin: 20px 10px 40px 10px;
}

/* footer */

footer {
    width: 800px;
    margin: auto;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}